/*~~~~~~~~~~~~~~*/
/*  App字体大小  */
/*~~~~~~~~~~~~~~*/
$loginTitle:30px;/*no*/
$btnFontSize:16px;/*no*/
$pageTitleFontSize:16px;/*no*/
$inputFontSize:16px;/*no*/
$headerTextFontSize:18px;/*no*/
$checkboxFontSize:13px;/*no*/
$fontSize16:16px;/*no*/
$fontSize13:13px;/*no*/
$fontSize15:15px;/*no*/
$fontSize20:20px;/*no*/

/*~~~~~~~~~~~~~~*/
/*  App通用尺寸  */
/*~~~~~~~~~~~~~~*/
$checkboxSize: 30px;
$headerPx: 90px;
$footerPx: 98px;


/*~~~~~~~~~~~~~~*/
/*  App常用颜色  */
/*~~~~~~~~~~~~~~*/

$redColor:#FF6666;
$grayColor:#ccc;
$greenColor:#99CC66;
$blueColor:#26a2ff
